# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3
.DS_Store

# Node
node_modules/
dist/
.DS_Store
.env.local

# IDE
.vscode/
.idea/

# PII & Sensitive Data
*.csv
backend/kyc_docs/
backend/tutor_videos/
media/kyc_docs/
media/tutor_videos/
*.gif
*.pdf
*.mp4
*.mov
*.avi
